body{
    background: #393E46;
    text-align: center;
}
.container{
    margin-top: 30px;
}
.heading{
    margin: 0;
    color: #4ECCA3;
    font-size: 7rem;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
}
.dice{
    display: inline-block;
    margin: 0 3%;
}
img{
    width: 70%
}
h3{
    color: #4ECCA3;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    margin-bottom: 1rem;
}
.button{
    padding-top: 50px;
}
button{
    font-size: 3rem;
    border-radius: 20px;
    border-width: 0;
    background-color: #4ECCA3;
    color: #fff;
    padding: 0.5% 3%;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    
}
footer{
    padding-top: 4%;
    color: #fff;
    font-family: 'Indie Flower', cursive;
}